:root {
	--grid-blocksize: 18px;
}

#room-wrapper {
	height: auto;
	color: rgb(127, 143, 146);
}

#screen {
	margin-top: 10px;
	margin-bottom: 60px;
	height: 8px;
	border-radius: 4px;
	text-align: center;
	font-weight: bold;
	background-color: rgb(255, 255, 255);
	color: white;
	box-shadow: 0 14px 28px 3px rgba(75, 159, 255, 0.5);
}

.roomWidth1,
.roomWidth2 {
	width: 540px;
	/* 30 x 18px */
}

.roomWidth3 {
	/* 26 x 18px */
	width: 468px;
}

.roomWidth4 {
	width: 432px;
	/* 24 x 18px */
}

#movie-header {
	color: white;
}


.wrapperFlex {
	display: flex;
	flex-wrap: wrap;
}

.gridBlocks {
	width: var(--grid-blocksize);
	height: var(--grid-blocksize);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	user-select: none;
}

.wrapperFlex div {
	background: transparent;
	width: var(--grid-blocksize);
	height: var(--grid-blocksize);
	box-sizing: border-box;
	display: flex;
}

#tooltip {
	position: absolute;
	background-color: rgb(221, 237, 238);
	padding: 6px;
	height: auto;
	min-width: 125px;
	border-radius: 5px;
	display: none;
	z-index: 10;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: .9rem;
	line-height: 0.9;
}

/*
.seat-status-available {
	filter: invert(20%) sepia(80%) saturate(0) hue-rotate(0) brightness(75%) contrast(300%);
}
*/

.seat-status-hover {
	filter: invert(20%) sepia(80%) saturate(300%) hue-rotate(180deg) brightness(68%) contrast(250%);
}

.seat-status-selected {
	filter: invert(20%) sepia(80%) saturate(300%) hue-rotate(100deg) brightness(72%) contrast(250%);
}

.seat-status-pending {
	filter: contrast(0%) brightness(200%);
}

.seat-status-booked {
	filter: opacity(65%) saturate(300%) brightness(20%);
	/* filter: invert(20%) sepia(80%) saturate(300%) hue-rotate(310deg) brightness(68%) contrast(250%); */
	/* filter: saturate(0) hue-rotate(0) brightness(75%) contrast(200%); */
}

input[type="submit"] {
	background: linear-gradient(to bottom, #005f66, #009978);
	font-size: 0.9rem;
	color: #fff;
	border: none;
	cursor: pointer;
	margin: 20px 0;
	padding: 10px;
	border-radius: 8px;
	font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"]:hover {
	background: linear-gradient(to bottom, #009978, #005f66);
}









.chk_parent input[type="checkbox"] {
	position: absolute;
	opacity: 0; /* hide the checkbox */
	height: var(--grid-blocksize);
}

.chk_parent input[type="checkbox"].singleSeat {
	width: var(--grid-blocksize);
}

.chk_parent input[type="checkbox"].duoSeat {
	width: calc(var(--grid-blocksize) * 2);
}







/* 
button {
	background-color: transparent;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	outline: none;
	display: flex;
	justify-content: center;
	border: 0;
}

button.singleSeat {
	width: var(--grid-blockWidth);
	height: var(--grid-blockHeight);
}

button.duoSeat {
	width: calc(var(--grid-blockWidth)*2);
	height: var(--grid-blockHeight);
}

button img {
	position: absolute;
	height: var(--grid-blockHeight);
	bottom: 0;
}

button.singleSeat img {
	width: var(--grid-blockWidth);
}

button.duoSeat img {
	width: calc(var(--grid-blockWidth)*2);
}
 */